@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html {
  font-family: 'Roboto';
  background: #f3f3f3;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 2em;
}

code {
  background: #f7f7f7;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
}
